# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Rubycoin Client
Exec=electrum-rubycoin %u
GenericName[en_US]=Electrum-Rubycoin
GenericName=Electrum-Rubycoin
Icon=electrum-rubycoin
Name[en_US]=Electrum Rubycoin Wallet
Name=Electrum Rubycoin Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/rubycoin;
